.topBar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  margin: 1rem 1rem;
}

.rightTopBar {
  display: flex;
  gap: 8px;
}

.leftTopBar {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
